
  /*-------- ICONOS FOOTER--------*/

  .icon-instagram{
    color: white;
  }
  .icon-facebook{
    color: white;
  }
  .icon-twitter{
    color: white;
  }
  .icon-youtube{
    color: white;
  }
  