/*====== Products ======*/

/*
.body-products{
  background-image: url(../images/products-fondo.jpg);
  background-size: auto;
}
*/

.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: white;
  }
  
  .product-box {
    background-color: white;
      border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 35px 20px;
    border: 10px;
  }
  .product-box a {
    display: block;
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
    color: black;
  }
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 0 10px;
    color: tomato;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
/*========================= FORMULARIO CREAR PRODUCTO ========================*/

.container-product-create {
    padding-top: 15px;
    padding-left: 30px ;
    padding-right: 30px ;
    padding-bottom: 15px;
  }
  
  .form-group label {
    color: white;
  }