<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/headernavbar') %>
<body class="body-conteiner">
   
<div class="row">

     <!--contenedor 2-->
     <div class="container-detalle col-12 col-md-8">
        <form action="">

           <div><h3>Descripcion del producto</h3>  <img src="/images/box.jpg" alt=""><p>xxxxxx</p> <input type="text" class="input-cart-items"></div>
           
        </form>
    </div>

    <div class="container-venta-padre col-12 col-md-4 details-cart">

       <div><h3>Resumen de tu pedido</h3></div>
       <div><h4 class="">Subtotal</h4><p>xxxxx</p></div>
       <div><h4 class="">Envio</h4><p>xxxxxx</p></div>
       <div><a href="">Calcular Envio</a><p>xxxxxx</p></div>
       <div><h2 class="">TOTAL</h3><p>xxxxxx</p></div>
     

     <div> 
         <input type="submit" value="Iniciar Compra" class="button-register">
        
     </div>

    </div>
    



</div>
<%- include('partials/footer') %>
</body>
</html>