<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/headerNavbar') %>

    <%- include('partials/bottoms') %>

    <div class="container-product-detail-page">
        <div class="container-product-detail">
            <div class="row">
                <div class="col-12 col-md-9 product-name">
                    <h4>nombre del producto</h4>
                </div>
                <div class="col-12 col-md-3 product-artist">
                    <h5>nombre del artista</h5>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-8">
                    <figure class="product-image">
                        <img src="/images/remera1.jpg" alt="">
                    </figure>
                </div>
                <div class= "col-12 col-md-4 product-specs">
                    <!--<div class="row product-specs">-->
                        <div>Estilo</div>
                        <div>Talle</div>
                        <div>Color</div>
                        <div>Comprar</div> 
                <!--</div>-->                 
                </div>  
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>