<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/headerNavbar') %>

    <%- include('partials/bottoms') %>

    <div class="container-product-detail-page">
        <div class="container-product-detail">
            <div class="row">
                <div class="col-12 col-md-9 product-name">
                    <h2>nombre del producto</h2>
                </div>
                <div class="col-12 col-md-3 product">
                    <h2>nombre del artista</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-8">
                    <figure>
                        <img src="/images/remera1.jpg" alt="">
                    </figure>
                </div>
                <div class= "col-12 col-md-4">
                    <p>Detalles del producto</p>
                </div>  
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>