<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/headerNavbar') %>

    <%- include('partials/bottoms') %>

    <div class="container-product-detail">
        <div class="row">
            <div class="product"></div>
        </div>
        <span class="product-name">
            <h2>nombre del producto</h2>
        </span>
        <div class="product-logo">
            <img src="/public/images/logo.png" alt="">
        </div>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>