<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/headerNavbar') %>

    <%- include('partials/bottoms') %>

    <div class="container-product-detail-page">
        <div class="container-product-detail">
            <div class="row">
                <div class="col-12 col-md-9 product-name">
                    <h4>Star Wars</h4>
                </div>
                <div class="col-12 col-md-3 product-artist">
                    <h5>Darth Vader</h5>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-8 product-image">
                    <figure class="product-image">
                        <img src="/images/remera1.jpg" alt="">
                    </figure>
                </div>
                <div class= "col-12 col-md-4 styles">
                    <div class="product-specs">
                        <div class="product-specs-space">
                            <span>Estilo</span> 
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">hola</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                        </div>
                        <div class="product-specs-space">
                            <span>Talle</span> 
                            <div class="size">
                                <button class="size-s">
                                  S
                                </button>
                                <button class="size-m">
                                   M
                                  </button>
                                  <button class="size-l">
                                  L
                                  </button>
                                  <button class="size-xl">
                                    XL
                                  </button>
                                
                                </div>
                              </div>
                         
                            
                        <div class="product-specs-space">
                            <span>Color</span>
                            <br>
                            <button class="button color-green"> 
                            </button>
                            <button class="button color-red"> 
                            </button>
                            <button class="button color-blue"> 
                            </button>
                            <button class="button color-lightblue"> 
                            </button>
                            <button class="button color-violet"> 
                            </button>
                            <button class="button color-gray"> 
                            </button>
                            <button class="button color-white"> 
                            </button>
                            <button class="button color-black"> 
                            </button>

                        </div>
                    

                        <div class="product-specs-space">Comprar</div> 
                </div>                 
                </div>  
            </div>
        </div>
    </div>
</div> 

    <%- include('partials/footer') %>
    
</body>
</html>