<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/headernavbar') %>
<body>
    
    <!-- ==== Condciional para ver si hay errores en el formulario ==== -->
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red">Hay erorres en el formulario</p>

        <% for(let i = 0; i<errors.length; i++) { %>
            <li style="color: red">
                <%=errors[i].msg%>
            </li>
        <% } %>

    <% } %>
    <!-- ======== -->

    <!-- ==== Condciional para ver si el mail o la constraseña estan mal ==== -->
    <% if (typeof credentialsPassword != 'undefined') { %>
        <p style="color: red">Credenciales inválidas</p>
    <% } %>

    <% if (typeof credentialsEmail != 'undefined') { %>
        <p style="color: red">No hay usuarios registrados con ese email</p>
    <% } %>
    <!-- ======== -->

    <form class="formulario-register" method="POST" action="/users/login" id="validation-form">
        <h1 class="title-register">Login</h1>

        <div class = "container-register">

            <div class="input-container-register">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="email" placeholder="Ingresa tu correo" class="input-register" data-name="correo">
                <span class="form-feedback"></span>
            
            </div>
            
            <div class="input-container-register">
                <i class="fas fa-key icon"></i>
                <input type="password"  name="password" placeholder="Ingresa tu contraseña" class="input-register" data-name="contraseña">
                <span class="form-feedback"></span>
            
            </div>
            <span class="form-feedback"></span>

            <div>
                <input type="checkbox"  name="remember_user" class="input-register">Recuerdame
            </div>
            

            <input type="submit" value="Ingresar" class="button-register">
            <span class="form-feedback"></span>
            <p class="texto-register">Al registrarte, aceptas nuestras Condiciones de uso y Políticas privasidad</p>
            <p class="texto-register">¿Ya tienes cuenta? <a class="link"  href="http://localhost:3000/users/register">Crear cuenta</a></p>

        </div>


	</form>

    
    <%- include('partials/footer') %>

   
    <script src="/js/login-script.js"></script>
</body>
</html>