<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    
    <form action="formulario" class="formulario-registro">
        <h1>Login</h1>

        <div class = "contenedor">

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" placeholder="Ingresa tu correo">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Ingresa tu contraseña">
            </div>

            <input type="submit" value="Ingresar" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Políticas privasidad</p>
            <p>¿Ya tienes cuenta? <a class="link"  href="http://localhost:3000/users/register" >Crear cuenta</a></p>

        </div>


	</form>

    

</body>
</html>