<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
	
    <form  method="POST" action="/users/register" class="formulario-registro"> 
        <h1>Registrate</h1>


        <div class = "contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name='nombre' placeholder="Nombre Completo" >
            </div>

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="email" placeholder="Ingresa tu correo" >
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password"  name="contraseña" placeholder="Ingresa tu contraseña">
            </div>

            <input type="submit" value="Registrate" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Políticas privasidad</p>
            <p>¿Ya tienes cuenta? <a class="link"  href="http://localhost:3000/users/login" >Iniciar Sesion</a></p>


        </div>


	</form>

    
</body>
</html>