<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
	<%- include('partials/headernavBar') %>

    <%- include('partials/bottoms') %>
	
	<!-- Container -->
	<div style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3 user-profile-box">
				<h2>Hi Nombre de usuario</h2>
				<img src="/images/screen-3.jpg>
				<br>
				<br>
				<div> prueba@gmail.com </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('partials/footer'); %>

</body>
</html>