<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

    <form  method="POST" action="/users/edit?_method=PUT" class="formulario-registro"> 
        <h1>Editar Nombre <%= userToEdit.name %></h1>


        <div class = "contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name='nombre' placeholder="Nombre Completo" value="<%= userToEdit.name %>">
            </div>


            <input type="submit" value="Editar" class="button">
            
           

        </div>


    </form>

</html>    