
/* Esto es para hacer DEBUG, despues hay que borrarlo*/
[class*=col-] {
  border: solid red 1px;
}

/*Estilos basicos*/
* {
  box-sizing: border-box; /* para poder aplicar padding y border de manera tranquila */
}

body {
  background-image: url(../images/fondo2.jpg);
  background-size: cover;
  font-family: Helvetica;
  margin:0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}


/*========================= HEADER =========================*/

.container {
  margin: auto;
  border: solid 1px red; /*esto es para debug despues hay que borrarlo*/
}

.top-bar {
  background-color: black;
  color:white;
}

.header-trucho {
font: 78px;
height: 78px;
}

.main-header {
  background-color: white;
  /*position: fixed;*/  
  top:18px;
  max-width: 2000px; /*Es una buena practica poner un max-width porque sino en un viewport muy grande se termina rompiedno la estructura del sitio. Despues para uno mas grande se una un media querie en el cual se puede redefinir el max-width*/
  width:100%;  

}

.right-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-navbar ul {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  justify-content: space-between;  
}

.right-navbar li {
  display: inline-block; 
}



.nav-home ul {
  margin:20px 290px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.nav-home li {
  display:inline-block;
  margin: 10px 50px;
}

.nav-home li a {
  color:white;
  font-size: 18px;
  text-transform: uppercase;
}



 .banner {
   margin: 0 130px;
  }

  .nav-button-right {
    float:right;
  }
  
  .nav-button-left {
    float:left;
    position: relative;
    bottom: 208px;
    left: 60px;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
  }


  /*========================= NAVIGATION BUTTONS (Feli) =============*/

  .navbar {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar li {
    text-align: center;
    border-top: solid 1px white;
  }

  .navbar li a {
    color:white;
    text-transform: uppercase;
  }  

  .navbar ul li
  .sale {
  color:tomato;
  }

 
  /*========================= BANNER (Feli) =========================*/


  /*========================= CARRUSEL (Santi) =======================*/


  /*========================= SECCION EXTRA (Carlos) =================*/


  /*========================= FOOTER (Carlos) ========================*/
