
/* Esto es para hacer DEBUG, despues hay que borrarlo*/
[class*=col-] {
  border: solid red 1px;
}

/*Estilos basicos*/
* {
  box-sizing: border-box; /* para poder aplicar padding y border de manera tranquila */
}

body {
  background-image: url(../images/fondo2.jpg);
  background-size: cover;
  font-family: Helvetica;
  margin:0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 2000px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*========================= HEADER =========================*/
.main-header {
  background-color: white;
  /*position: fixed;*/  
  top:18px;
  max-width: 2000px; /*Es una buena practica poner un max-width porque sino en un viewport muy grande se termina rompiedno la estructura del sitio. Despues para uno mas grande se una un media querie en el cual se puede redefinir el max-width*/
  width:100%;  
}

/*========================= LOGO (Feli) =============*/
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*========================= NAV LOGIN Y CARRITO BAR (Feli) =============*/
.right-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-navbar ul {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  justify-content: space-between;  
}

.right-navbar li {
  display: inline-block; 
}

   

/*========================= BUSCADOR (Feli) =============*/
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

/*========================= NAVIGATION BUTTONS (Feli) =============*/
  .navbar {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar ul {
    width: 100%;
  }

  .navbar li {
    text-align: center;
    border-bottom: solid 1px white;
    padding: 2px;
  }

  .navbar li a {
    color:white;
    text-transform: uppercase;
  }  

  .navbar ul li .sale {
  color:tomato;
  }

  .navbar li .sale {
  border-bottom: none;
  }

 
  /*========================= BANNER (Feli) =========================*/
  .banner {
    margin:0;
  }
  .banner img {
    width: 100%;
  }

  /*========================= CARRUSEL (Santi) =======================*/
.titulo-carrusel{
  color: aqua;
  background-color: #E0A6AA;
  margin-left: 10px;
  margin-right: 10px;
}
.container-carrusel{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: solid 3px pink;
  padding: 20px;
  margin-bottom: 20px;
}
.remeras{
  width: 200px;
  height: 200px;
}

  /*========================= SECCION EXTRA (Carlos) =================*/


  /*========================= FOOTER (Carlos) ========================*/
