
.form-error {
    background-color: rgba(238, 130, 238, 0.096);
    color: violet;
  }
 
 /* SELECTOR DE HERMANOS */
 /*cuando un campo tiene la clase form-error, entonces el hermano (con clase form-feedback) queda visible por display block*/
 .form-error ~ .form-feedback{
    display: block; /*esto hace que aparezca el mensaje de error*/
 }
 
 .form-feedback {
    margin-left: 40px;
    display: none; /*esto es para que por default no se vea el mensaje de error*/
    color:violet;
 }

 .form-sumbit-error {
   display: block;
}
/*-----------Validator products form----------------*/

.error{
 border:solid 1px crimson;
}
.error ~ .feedback{
   display: block; /*esto hace que aparezca el mensaje de error*/
}
.feedback{
   display: none;
   color: crimson;
}