.error {
    border: solid 1px yellow;
 }
 
 /* SELECTOR DE HERMANOS */
 /*cuando un campo tiene la clase error, entonces el hermano con clase feedback queda con display block*/
 .error ~ .feedback{
    display: block;
 }
 
 .feedback {
    display: none;
    color:violet;
 
 }