
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  
  <!--BOTON COMENTADO DE PRUEBA---------------------------------------------------------------------------
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  -->
  <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav">
      <li class="nav-item active col-md-3">
        <a class="nav-link" href="/products">PRODUCTOS</a>
      </li>
      <li class="nav-item col-md-3">
        <a class="nav-link" href="#">ARTISTAS</a>
      </li>
      <li class="nav-item col-md-3">
        <a class="nav-link" href="#">MARCAS</a>
      </li>
      <li class="nav-item col-md-3">
        <a class="nav-link" href="#">SALE</a>
      </li>
      
    </ul>
  </div>
  
</nav>


    <!--
<nav class="navbar">
    <ul class="row">
        <li class="col-12 col-md-3"><a href="/cutomiza">CUSTOMIZA</a></li>
        <li class="col-12 col-md-3"><a href="/artistas">ARTISTAS</a></li>
        <li class="col-12 col-md-3"><a href="/marcas">MARCAS</a></li>
        <li class="col-12 col-md-3"><a href="/sale" class="sale" >SALE</a></li>                    
    </ul>
</nav>
--> 
