<div>
<nav class="navbar">
    <ul class="row">
        <li class="col-12 col-md-3"><a href="/cutomiza">CUSTOMIZA</a></li>
        <li class="col-12 col-md-3"><a href="/artistas">ARTISTAS</a></li>
        <li class="col-12 col-md-3"><a href="/marcas">MARCAS</a></li>
        <li class="col-12 col-md-3"><a href="/sale" class="sale" >SALE</a></li>                    
    </ul>
</nav> 
</div>