
<!-- Footer -->
<div class="container">
<footer class="page-footer font-small blue pt-4 navbar-dark bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Medios de pago -->
          <div><h5 class="text-uppercase text-light d-flex col-md-8 col-12  justify-content-center">Medios de pago</h5></div>
          
          <div class="d-flex col-md-8 col-12  justify-content-center">
            <a href="" class="">
                <div><img src="/images/mediosdepago.png" alt="Medios de pago" style="width:300px;"></div>
            </a>
        </div>

        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-light">Informacion</h5>
  
          <ul class="list-unstyled">
            <li>
                <a class="text-light" href="">Quienes somos</a>
            </li>
            <li>
              <a class="text-light" href="">Cómo comprar en THE BARRIO</a>
            </li>
            <li>
              <a class="text-light" href="">Plazos de entrega</a>
            </li>
            <li>
              <a class="text-light" href="#!">Terminos y condiciones</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <div><h4 class="text-uppercase text-light text-center">Siguenos</h4></div>
  
          <ul class="list-unstyled row">
            <li class="col-3">
                <a href=""><div><h3><span class="icon-instagram text-white-50"></span></h3></div></a>
            </li>
            <li class="col-3">
              <a href=""><div><h3><span class="icon-facebook text-white-50"></span></h3></div></a>
            </li>
            <li class="col-3">
              <a href=""><div><h3><span class="icon-twitter text-white-50"></span></h3></div></a>
            </li>
            <li class="col-3">
              <a href=""><div><h3><span class="icon-youtube text-white-50"></span></h3></div></a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
     <div class="container-fluid text-center text-md-left text-light bg-dark">
        <p class="parrafo-footer">
        © THE BARRIO 2016 - 2019 . Todos los derechos reservados. 
          <a href="">Conoce nuestra Política de privacidad.</a>
        BFOOT S.R.L Argentina.##### 1111 CP: 1427 Capital Federal. 
                          Buenos Aires, Argentina.
        • Atención al cliente: Lunes a Viernes de 10hs a 17hs 0810-362-2366 •</p>
     </div>
</footer>
    <div class="footer-copyright text-center py-3 text-light  footer-final">© 2020 Copyright:
      <a href=""> theBarrioTeam.com</a>
    </div>
    <!-- Copyright -->
</div>

</div>  
  
 <!--cierra class container en header-->

<!-- Footer -->  
  
<!-- FOOTER ANTIGUO -->
<!--
<footer class="main-footer">
    <div class="row container-padre-footer">
        
        <div class="col-12">
            <div class="row" class="registro-footer"> 
                <div class="col-12 text-center"><h4>Suscribite a nuestro newsletter!</h4></div>

                 <div class="col-12 d-flex justify-content-center">
                    <form action="index.html" method="GET">
                        <input type="email" class="col-md-8 form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Ingresa tu email">
                        <button type="button" class="col-md-3 btn btn-secondary btn-sm">Enviar</button>
                    </form>
                 </div>
                 
            </div>
        </div>

        <div class="col-12 col-md-4">
            
            <div class="row" class="iconos-footer">
                <div class="col-12"><h4>Seguinos</h4></div>
                <div class="col-2"><a href="" class="iconos"><i class="fab fa-instagram"></i></a></div>
                <div class="col-2"><a href=""><i class="fab fa-facebook"></i></a></div>
                <div class="col-2"><a  href=""><i class="fab fa-youtube"></i></a></div>
                <div class="col-2"><a href=""><i class="fab fa-twitter"></i></a></div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div>
                <h4>Sobre THE BARRIO</h4>                    
                <div><a href="">Quienes somos</a></div>
                <div><a href="">Cómo comprar en THE BARRIO</a></div>
                <div><a  href="">Plazos de entrega</a></div>
                <div><a href="">Promosiones bancarias</a></div>
                <div><a href="">Terminos y condiciones</a></div>
            </div>
        </div>

        <div class="col-12 col-md-4">              
            <div class="row">
                <div class="col-12"><h4>Medios de pago</h4></div>
                    <div class="row">
                        <div class="col-6 text-center">credito</div>
                        <div class="col-6 text-center">debito</div>
                        
                        <div class="col-6 text-center"><a  href=""><i class="far fa-credit-card"></i></a></div>
                        <div class="col-6 text-center"><a href=""><i class="far fa-credit-card"></i></a></div>  
                    </div>              
            </div>
        </div>
       
    
  <div>
            <p class="parrafo-footer">
                    © THE BARRIO 2016 - 2019 . Todos los derechos reservados. 
                      <a href="">Conoce nuestra Política de privacidad.</a>
                    BFOOT S.R.L Argentina.##### 1111 CP: 1427 Capital Federal. 
                                      Buenos Aires, Argentina.
                    • Atención al cliente: Lunes a Viernes de 10hs a 17hs 0810-362-2366 •
            </p>
        </div>
    </div> 
</footer>
-->

 <!-- Codigo para cosas de BOOTSTRAP (No borrar)-->
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 

<!-- SCRIPT PARA VALIDAR  -->
 <script src="/js/validator.js"></script>

