<!-- HEADER -->
<header class="main-header">
    <!--LOGO Y BUSCADOR-->
    <div class="row justify-content-between">
        <!--Logo-->
        <div class="logo col-6 col-md-2">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="logo The Barrio" style="width:66px;">
            </a>
        </div>
        <!--Login y carrito-->
        <nav class="right-navbar col-6 col-md-2 order-md-2"> <!--offset-md-3 El offset hace que se mueva esa cantidad de columnas hacias la derecha, en este caso son 3 y soslo en tablet(md)-->
            <ul class="row d-flex align-items-center justify-content-center">
                <li class="col-6"><a href="/registro">
                        <img src="images/register.png" style="width:2.5em; height:2.5em;">
                    </a>
                </li>
                <li class="col-6"><a href="/carrito">
                        <img src="images/cart.jpg" style="width:2em; height:2em;">
                    </a>
                </li>
            </ul>
        </nav> 
        <!--Buscador-->            
        <div class="d-flex align-items-center justify-content-center col-12 col-md-8">				 					       
            <form class="search form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
        </div>
    </div>              
</header>