<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Barrio</title>
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	
<div class="container">
	
	<header class="main-header float-fix">

		<div class="logo">
			<a href="/">
				
				<img src="/images/logo2.png" alt="logo The Barrio" style="width:4em; height:4em;">
			</a>
		</div>

		<div class="search">
			
			<form method="get" action="">
				<div>
					<input type="text" placeholder="Buscar productos" required>
				</div>
			</form>
		</div>

		<nav class="right-navbar">
				<ul>
					<li><a href="/registro">REGISTRO</a></li>
					<li><a href="/carrito">CARRITO</a></li>
				</ul>
		</nav>
	
	</header>
</div>



</body>
</html>