<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Barrio</title>
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	
<div class="container">
	
	<!-- EL HEADER-->
	<header class="main-header float-fix">

		<div class="logo">
			<a href="/">
				
				<img src="/images/logo.png" alt="logo The Barrio" style="width:4em; height:4em;">
			</a>
		</div>

		<div class="search">
			
			<form method="get" action="">
				<div>
					<input type="text" placeholder="Buscar productos" required>
				</div>
			</form>
		</div>

		<nav class="right-navbar">
				<ul>
					<li><a href="/registro">REGISTRO</a></li>
					<li><a href="/carrito">CARRITO</a></li>
				</ul>
		</nav>
	
	</header>

	<!-- EL MENU DE BOTONES-->
	<nav class="menu-button">
		<ul>
			<li><a href="/cutomiza">CUSTOMIZA</a></li>
			<li><a href="/artistas">ARTISTAS</a></li>
			<li><a href="/marcas">MARCAS</a></li>
			<li><a href="/sale" class="sale" >SALE</a></li>
		</ul>
	</nav>

	<!-- EL BANNER PRINCIPAL-->
	<div class="float-fix">
		
		<div class="banner">
			<a href="/campaña">
				<img src="/images/banner1.jpg">
			</a>
		</div>

		<div class="nav-button-right">
			<img src="/images/navFlechaDer.png" style="width:4em; height:4em;">
		</div>

		<div class="nav-button-left">
			<img src="/images/navFlechaIzq.png" style="width:4em; height:4em;">
		</div>

	</div>

</div>



</body>
</html>